[2015-05-06 22:01] jamesmenera opened #1 "Addon not installing in ember-cli"
jamesmenera@MacBook-Pro:~/Sites/Acorns-ember[develop*]$ ember install ember-a11y-testing
version: 0.2.3
Could not find watchman, falling back to NodeWatcher for file system events.
Visit http://www.ember-cli.com/#watchman for more info.
Installed packages for tooling via npm.
installing
installing
The `ember generate` command requires an entity name to be specified. For more details, use `ember he

[2015-05-07 01:26] trentmwillis commented on #1
This is an issue with Ember-CLI itself. The add-on should have installed properly even if you get the message. Issue for reference: https://github.com/ember-cli/ember-cli/pull/3846

[2015-05-07 01:26] #1 closed

[2015-06-17 23:17] trentmwillis opened #2 "Better logging of errors"
Currently all errors just inject any offending HTMLElement into the error message string. This makes identifying the exact offending element difficult. Instead, we should switch to a model that logs the element separately so it can be inspected and identified.

[2015-06-17 23:23] trentmwillis opened #3 "Auto-run during acceptance tests"
The current API for this is very explicit, in that you have to explicitly call a function anytime you wish to test for accessibility. Accessibility testing should be more implicit, as we should expect it to happen. Therefore, we should schedule these tests to run automatically during acceptance tests (maybe even unit tests?) after each rendering update to the DOM.

I imagine, exploration of perfor

[2015-06-17 23:30] trentmwillis opened #4 "Accessibility-aware components (and views)"
As a step toward making accessibility an integrated part of developing, components (and views potentially) should be able to able to audit themselves for potential accessibility issues (sort of like [react-a11y](https://github.com/rackt/react-a11y)).

[2015-06-17 23:34] trentmwillis opened #5 "Visual feedback for issues during development"
After making components aware of accessibility, they should be able to manipulate the visual appearance of an offending element during development to make it obvious something is wrong (turn it red? Big arrow pointing to it? Open to suggestions).

[2015-06-18 02:56] nathanhammond opened #6 "Static analysis of templates for actions on non-interactive elements."
Not guaranteed to be perfect because of binding (still needs to be checked runtime) but it could catch most at test/build time.

[2015-10-07 20:07] christophermlne opened #7 "import statement?"
When I try to run the acceptance test example from the docs I get a11Test is undefined.

Assuming I have to modify my test-helper.js file or import something at the top of the acceptance test?

I see a function 'registerA11yHelpers' is exported from register-a11y-helpers.js.

Should I be importing this somewhere?

Many thanks.

[2015-10-07 20:17] christophermlne commented on #7
I had used the npm install command to install this package.

I should have installed via the ember install command, which would have caused the after install hook to run, which would have set things up correctly.

So that was the issue. Closing.

[2015-10-07 20:17] #7 closed

[2015-11-20 06:32] #2 closed

[2016-01-24 00:33] noopkat commented on #5
Kahn Academy's [Tota11y](https://khan.github.io/tota11y/) tool does a tremendous job at doing this. I wonder if it could be forked and extended for this test suite's use to include things like elements with an ember action not being focussable etc? It's MIT license which would allow this :smile:

[2016-05-19 03:07] nathanhammond opened #17 "Actually running in afterRender"
Original issue: https://github.com/trentmwillis/ember-axe/issues/2

[2016-05-19 03:08] nathanhammond opened #18 "Improve logging and debugging of violations"
Initial implementation of logging for the audits has been minimal. Currently, it just outputs the violations in numeric order follow by a dump of the object. Example:

![screen shot 2015-06-25 at 10 10 41 pm](https://cloud.githubusercontent.com/assets/3526753/8371154/fee50ac8-1b87-11e5-94e7-34831424965e.png)

This isn't the worst, but can definitely be made better before the official 1.0 release.

[2016-05-19 03:10] nathanhammond opened #19 "Highlight troubled areas during development"
Currently, we add a `1px solid red` border to any elements that have a violation during development. This should be improved visually and allow for customizability as it is difficult to define an appearance that will apply across all UI styles.

Implementation idea right now is to draw a semi-opaque rectangle according to the elements bounding box coordinates and dimensions. This can then yield cu

[2016-05-19 03:19] nathanhammond commented on #3
Issue was relevant to the older version of ember-a11y-testing.

[2016-05-19 03:19] #3 closed

[2016-05-19 03:19] nathanhammond commented on #4
Issue was relevant to the older version of ember-a11y-testing.

[2016-05-19 03:19] #4 closed

[2016-05-19 03:20] nathanhammond commented on #6
Issue is being addressed in [ember-cli-template-lint](https://github.com/rwjblue/ember-cli-template-lint/).

[2016-05-19 03:20] #6 closed

[2016-05-19 16:12] Robdel12 opened #21 "Cut a new release with blueprints"
We added blueprints to make install super easy but we haven't released to NPM which has caused confusion :)

[2016-05-19 17:31] nathanhammond commented on #21
Done!

[2016-05-19 17:31] #21 closed

[2016-06-17 09:56] BrianSipple opened #29 "axe.a11yCheck throws errors in nested components"
**\[Note]** I think this is actually a larger issue in `axe-core` -- and [I PR'd my proposed changes for it there](https://github.com/dequelabs/axe-core/pull/193) -- but I also wanted to make a note here for the purposes of cross-referencing and to offer an idea for how we can address it in the meantime...

I'm seeing (so far) two different errors in the console when `axe.a11yCheck` is called on a

[2016-06-18 19:05] nathanhammond commented on #29
Okay, that's definitely an error in axe-core. I'm trying to get somebody from Deque to look at it. 😄 I'd rather fix this once and for all upstream than work around it here.

[2016-07-08 06:03] ksin commented on #18
Not sure if there's already a way to do this in development, but perhaps an object that keeps track of all violations and can be accessed in the console? Ideally, it updates as a violation appears.

ie: After submitting a form, an error message appears where the error message triggers a violation. The violations tracker is then updated with the violation or reference of the violation. The dev can

[2016-07-11 21:56] nathanhammond commented on #29
Upstream has been resolved. Closing.

[2016-07-11 21:56] #29 closed

[2016-07-11 21:56] nathanhammond commented on #19
Addressed. Closing.

[2016-07-11 21:56] #19 closed

[2016-07-11 22:06] nathanhammond commented on #18
@ksin Hokay, that's a complete and total mess, I agree. Would you be interested in creating a util object for this addon that has a few helper methods?

Proposed approach: `/addon/utils/violationHelper.js`

[code]

Then in the initializer you can import it and push it into global or app space, making it available in the user's console, possibly logging how to do it the first time a violation gets

[2016-07-11 23:32] MelSumner opened #34 "Improvement: two levels for visible a11y violations"
Recommend two settings for visible a11y violations, with a more subdued error look by default. (maybe keep the stripes but make them grayscale?)

Reasoning is that when testing in a business environment, noted strong negative reactions to how the errors came across visually. Don't want to have anyone avoid either this addon or the issue of accessibility merely because the validation addon seems a

[2016-07-15 18:38] MelSumner commented on #18
I'm getting the same violation on the same element reported multiple times in the console. Is this related to this issue or is it a different issue @nathanhammond ?

[2016-07-19 22:27] BrianSipple commented on #18
@MelSumner Interesting. I caught similar behavior related to audits being run multiple times [here](https://github.com/ember-a11y/ember-a11y-testing/pull/31#issuecomment-231969078). Perhaps that's also related.

[2016-07-26 04:45] BrianSipple commented on #34
I like it. I'm getting after this now, and I'm getting the sense that if we're going to offer this functionality, three levels would actually be even better.

I'm working on an API concept of "noise levels" -- which right now are just `1`, `2`, and `3`, but could also be keywords like `soft`, `average`, and `loud`.

[2016-07-26 22:32] BrianSipple opened #37 "Add ember-cli-eslint"
See: https://github.com/ember-a11y/issues/issues/2

[2016-07-26 22:35] binhums commented on #37
I'm happy to take this now if you're not working on it.

[2016-07-27 11:34] BrianSipple commented on #37
@binhums All yours!

[2016-08-17 01:58] BrianSipple opened #40 "Use ember-blueprint-test-helpers for testing axe version"
This was brought up in #38, but it would be better to use `ember-blueprint-test-helpers` to verify that the version of axe-core that we're adding to projects is in sync with our current dependency.

At the moment, however, [this still isn't possible](https://github.com/ember-cli/ember-cli-internal-test-helpers/issues/22)

[2016-08-19 12:46] BrianSipple commented on #37
@binhums ping 😛

[2016-11-02 20:42] adhamhf opened #44 "how to properly disable audit when in dev mode?"
I was trying to determine if axe checks were causing a performance issue during development ( not during tests ) of a route template.  The instructions in the README simply did not work.  I finally ended up editing axe-components.js inside the installed ember-a11y-testing module and that did work.

I'm sure there is a better way though?

[2016-11-04 13:36] MelSumner commented on #44
It's also possible that the way we intended it to work is not the way it works at the moment, so we might need to fix that. @nathanhammond or @binhums  can you weigh in here?

Editing the axe-components.js file with the turnAuditOff: true settings works for me - if this is how it is intended to work then we can make the README with more explicit instructions.

[2016-11-04 13:37] MelSumner commented on #34
Closing this issue since we've already added noise levels.

[2016-11-04 13:37] #34 closed

[2016-11-07 21:25] MelSumner opened #45 "Allow customization on a per-component basis"
Currently, there is no way to customize the add-on to turn off the tests on a per-component basis.

This may be helpful in dealing with legacy systems while they are being upgraded, especially where the add-on interferes with functionality.

[2016-11-15 21:28] billpull opened #46 "Acceptance tests not contained in ember-testing-container"
Ember: 2.5.1
ember-cli: 2.4.2
ember-a11y: 0.1.12
ember-a11y-testing: 0.1.6

After installing `ember-a11y-testing` acceptance tests are no longer contained within `#ember-testing-container` but take up the entire screen. I can see the offending markup warnings in the console but they aren't reported to the qunit test runner.

It seems to be running the acceptance tests multiple times and then event

[2016-11-29 20:46] billpull commented on #46
So now looking through the code I realize it is intentional is to hide the container while the test is running.

I am still seeing an issue with 0.1.6 where my acceptance tests don't report the violations after running. I found another project using 0.1.3 and targeted that version in my project to check the difference.

in 0.1.6 the violations are logged to the console as just information but in 0

[2016-12-01 19:53] sarbbottam opened #47 "tests do not fail on a11y violations"
the errors get logged into the browser's console (`ember test --serve`) but tests do not fail.

[2016-12-14 16:40] billpull commented on #47
@sarbbottam which version of ember-a11y-testing are you using? I was able to get my project to fail on errors by switching back to `0.1.4`

[2016-12-14 16:42] #46 closed

[2016-12-14 16:49] sarbbottam commented on #47
I'm using `0.1.6`.

[2016-12-14 17:09] MelSumner opened #49 "Upgrade axe-core in addon"
- upgrade axe-core version in addon
- analyze potential for something automated (feels like this should be possible, but idk yet).

[2016-12-14 18:20] billpull commented on #47
This seems to be an issue with `axe-core` for me anything above `1.1.1` simply logs the error to the console rather than reporting it to Qunit.

[2016-12-14 19:07] sarbbottam commented on #47
I tried with `axe-core@1.1.0` and the tests seems to fail. However, I can't seem to identify what is th reason for failure from the output.

[code]

[2016-12-14 19:09] billpull commented on #47
You have to open up the console inside chrome inspector and look at the violations

[2016-12-14 19:10] sarbbottam commented on #47
I am trying to get this into the build pipeline with a headless browser. So I have to solely rely on the console log.

[2016-12-31 18:18] ibroadfo commented on #47
I can't see an issue on the axe repository relating to this; should we file one?

[2017-01-12 20:37] backspace commented on #47
I used `ember-axe` in an application and forked it to add console logging of aXe violations, maybe something like that can be used here. You can [see the code here](https://github.com/backspace/ember-axe/blob/3c8cb8bc724ecd1e86acd5c616814853c1338269/content-for/test-body-footer.html#L19-L47). I hope to use `ember-a11y-testing` soon and could look at incorporating an option like this if there’s int

[2017-01-31 20:24] justwright opened #51 "Ability to turn off in specific environment"
From the readme:

"With the exception of `turnAuditOff`, each of the fine-grained component hooks above can instead be defined for ALL components inside of your application's config/environment.js file"

...would it be possible to add the ability to access `turnAuditOff` as well so that the auditing does not appear in, say, a staging environment?

[2017-02-14 19:37] trentmwillis commented on #49
The first part of this seems done now.

There's [greenkeeper](https://greenkeeper.io/), but I don't believe it works for Bower dependencies. That said, we should get off of using Bower and move instead to including it as an npm module.

[2017-02-14 19:45] MelSumner commented on #49
@trentmwillis since that's a separate issue, I'm going to close this issue. :)

[2017-02-14 19:45] #49 closed

[2017-02-14 19:46] trentmwillis opened #56 "Remove axe-core as a Bower dependency"
We should include axe-core via npm instead and add it via `treeForVendor`.

[2017-02-15 04:46] trentmwillis commented on #56
This has been fixed via #58.

[2017-02-15 04:46] #56 closed

[2017-02-15 04:53] trentmwillis commented on #45
Are you referring to the behavior in tests (e.g., the auto-run feature) or in development mode? The development mode stuff should be easy to turn off per-component, as you can specify the `turnAuditOff` property ([ref](https://github.com/ember-a11y/ember-a11y-testing/blob/f13a87f8fc523469330e560b8ea2e12d2bce1b1b/app/instance-initializers/axe-component.js#L63-L69)).

[2017-02-15 05:11] MelSumner commented on #45
Thanks for reminding me to update the documentation with the correct guide for this! 👍

[2017-02-15 17:40] #47 closed

[2017-02-15 18:08] trentmwillis commented on #47
This has been fixed and released in `v0.2.0`.

[2017-02-15 20:05] trentmwillis opened #60 "0.2.0: axe.run doesn't polyfill Promise implementation"
Since axe.run doesn't polyfill a Promise implementation, if a browser doesn't support Promises natively and the consumer isn't providing a polyfill, things break. This wasn't caught in our test suite since we include the babel polyfill.

[2017-02-15 20:21] abought opened #61 ""ReferenceError: axe is not defined" when upgrading to 0.2.0"
# Summary
When upgrading an app from ember-a11y-testing 0.1.6 to 0.2.0, I get a JS console error `ReferenceError: axe is not defined` when running `ember server`.

When I run unit tests (`ember test --server`), I do not get these errors and unit tests behave as expected. App uses Ember 2.8 (the newest LTS).

# Steps to reproduce / test case
See pull request demonstrating changes:
https://github.co

[2017-02-15 20:23] abought commented on #61
Let me know if you'd like me to try additional things to help track down the cause; I'm happy to do more spadework as suggested. Thanks for the work on the new release!

[2017-02-15 20:29] rwjblue commented on #60
"polyfill" it 😝:

[code]

Then use `app.import('vendor/ember-a11y-testing/promise-polyfill.js', { type: 'test' });` in `index.js`.

[2017-02-15 20:31] rwjblue commented on #60
The `app.import` above needs to go above the `app.import` for `vendor/axe-core/axe.js`.

[2017-02-15 20:33] rwjblue commented on #61
I _believe_ this is the same issue as https://github.com/ember-a11y/ember-a11y-testing/issues/61, can you double check and confirm?

[2017-02-15 20:41] abought commented on #61
This is issue 61, so, um...

Do you mean #60 ? A bit surprised if that's the case; [this chart](http://kangax.github.io/compat-table/es6/) claims the newest FF and Chrome versions support Promises natively. Then again, this could be one of those days where I learn something new.

[2017-02-15 20:48] rwjblue commented on #61
LOL, whoops! Yes, I was talking about #60 (sorry about that).

[2017-02-15 20:57] abought commented on #61
Tried instructions in #60 and restarted app. It built successfully, but got the same console error. Alas.

[2017-02-15 21:06] trentmwillis commented on #60
@rwjblue I have tried something similar to the above, but the issue is that Ember.RSVP.Promise ties into the run-loop. Thus, since we trigger the audit "after render" in the run-loop, we actually wind up with an infinite loop (from what I can tell).

[2017-02-15 21:13] trentmwillis commented on #61
Ah, forgot that `axe-core` needs to be included in development mode as well as in testing. I'll have a fix shortly.

[2017-02-15 21:26] #61 closed

[2017-02-15 23:40] trentmwillis opened #63 "Drop auto-run feature?"
So, having spent the last couple days working on the addon and trying to fix issues like https://github.com/ember-a11y/ember-a11y-testing/issues/60, I am of the opinion that we should drop the "auto-run" feature for tests.

Here is my reasoning:

1. It makes adoption of the addon difficult because it will likely result in many failures for existing applications.
2. It can be quite spammy, since so

[2017-02-15 23:48] trentmwillis commented on #60
So in trying to fix this, I keep running upon other issues. In particular, changing the implementation from using a Promise to a using callbacks uncovers the fact that we run additional audits during the run-loop when the application is getting destroyed. This is bad, but we have no way to prevent it.

Due to that, the above issue, and other factors, I've opened an issue to remove the auto-run fea

[2017-02-15 23:57] MelSumner commented on #63
I agree with this approach.
In our use case, we turned it off app-wide, and then turn it on component by component.

[2017-02-16 05:27] #45 closed

[2017-02-16 05:56] trentmwillis commented on #51
I see no reason why we couldn't do that. Looking at [the original PR comment](https://github.com/ember-a11y/ember-a11y-testing/pull/22), it seems like it was originally intended to be configurable. (However, I was not around at that time.)

@BrianSipple do you have remember why `turnAuditOff` is not globally configurable? Seems like it is much more likely to be used than the other options IMO.

[2017-02-16 05:59] trentmwillis commented on #44
I don't believe this is an acceptable solution as we shouldn't ever need developers to go into their `node_modules` folder.

That said, I think #51 is the correct approach to this, so I am going to close this issue in favor of that approach. Feel free to re-open if you don't think the other issue will cover your concerns.

[2017-02-16 05:59] #44 closed

[2017-02-16 06:02] trentmwillis commented on #40
This is no longer needed as we don't have a blueprint (due to moving axe-core to npm).

[2017-02-16 06:02] #40 closed

[2017-02-16 06:04] trentmwillis commented on #5
This has been implemented (more-or-less) via the violation warning level styles.

[2017-02-16 06:04] #5 closed

[2017-02-16 16:33] trentmwillis commented on #63
Additional points from Slack:

[2017-02-16 21:18] jonathanong commented on #51
👍  would like this configurable because this module kills the development environment

[2017-02-19 15:26] BrianSipple commented on #51
@trentmwillis I floated the idea of making this configurable at the component level, when I initially PR'd the feature. There was a larger group [consensus against it](https://github.com/ember-a11y/ember-a11y-testing/pull/22), though, with the idea that it might discourage overall usage of the addon.  Now that we're getting more requests to enable this, though, I'd say let's do it!

[2017-02-20 19:48] trentmwillis commented on #51
This feature has been added and released in `0.2.2`. You can now set `turnAuditOff` from within your application's config.

[2017-02-20 19:48] #51 closed

[2017-02-24 00:52] #60 closed

[2017-02-24 00:52] #63 closed

[2017-02-24 00:54] trentmwillis commented on #17
Auto-run has been removed so this issue is no longer valid.

[2017-02-24 00:54] #17 closed

[2017-02-24 00:54] trentmwillis commented on #63
This has been removed in #64 and likely to be released in `0.3.0`

[2017-02-24 00:55] trentmwillis commented on #60
With the removal of auto-run in #64 and the usage of `RSVP.Promise` for the `a11yAudit` helper, this should be resolved.

[2017-02-24 20:39] trentmwillis commented on #37
Resolved by #66.

[2017-02-24 20:39] #37 closed

[2017-02-28 21:32] jonathanong opened #68 "0.3: `axe.ember` is undefined"
i have the following:

[code]

this broke in 0.3. `axe.ember` does not exist in `0.3`. how would i fix this?

[2017-02-28 21:53] trentmwillis commented on #68
The `axe.ember` global was removed in `0.3` since the auto-run feature during tests was also removed, thus it no longer had a purpose. If you want to use this in the test environment, you can now use the `a11yAudit` helper and pass your options directly to that. See here for more info: https://github.com/ember-a11y/ember-a11y-testing#testing-usage

[2017-02-28 22:00] jonathanong commented on #68
would `a11yAudit(axeOptions);` work?

[2017-02-28 22:27] jonathanong commented on #68
apparently it does not.

[code]

[2017-03-13 06:28] BrianSipple commented on #68
@jonathanong The audit helper takes `axeOptions` as its second argument (the first argument should either be a selector string or an HTML element).

In addition to @trentmwillis's link above, you can [check out helper itself here](https://github.com/ember-a11y/ember-a11y-testing/blob/master/addon-test-support/audit.js).

[2017-03-18 02:38] sarbbottam opened #69 "Integration test - "axeCallback throws an error if it is not a function" is failing"
[axeCallback throws an error if it is not a function](https://github.com/ember-a11y/ember-a11y-testing/blob/master/tests/integration/instance-initializers/axe-component-test.js#L163-L170) is failing for me.

Anyone else experiencing the same?

[code]

<img width="1058" alt="screen shot 2017-03-17 at 7 37 23 pm" src="https://cloud.githubusercontent.com/assets/949380/24068323/39e00238-0b49-11e7-82fa

[2017-03-21 23:56] trentmwillis commented on #69
So this is a bug. Apparently that test was never passing, but ember-try was not properly reporting the failure. I'll have a fix soon.

[2017-03-22 03:22] #69 closed

[2017-03-22 03:26] trentmwillis commented on #68
We should likely update the helper to allow passing `axeOptions` as a single argument as well.

[2017-03-22 17:33] sarbbottam commented on #69
Thanks @trentmwillis

[2017-03-22 17:50] thomblake opened #73 "Specify accessibility standard"
This doesn't specify whether an app that passes these tests conforms to any particular standard for accessibility, like WCAG 2.0 or US 508. It would be nice if this was specified in the documentation, and even better if the standard used was configurable.

[2017-03-22 17:54] trentmwillis commented on #73
As noted in the readme, this addon uses [`axe-core`](https://github.com/dequelabs/axe-core) which allows you to select from a variety of individual rules and standards to test against. You can see the defaults and additional rules/standards in their documentation: https://github.com/dequelabs/axe-core/blob/master/doc/rule-descriptions.md

[2017-03-22 18:00] thomblake commented on #73
Awesome, thanks!

[2017-03-22 18:00] #73 closed

[2017-03-22 21:51] trentmwillis commented on #68
The above feature is now available in `0.4.0`.

[2017-03-22 21:51] #68 closed

[2017-03-27 12:28] AdrienNguyenWorldline opened #75 "Aria 1.1 seems not supported"
using the aria-current attribute gives an error
it has been added to https://www.w3.org/TR/wai-aria-1.1/ specifications
and was not in Aria 1.0

**Reproduction**

- have a tag with aria-selected attribute :
`<li aria-selected="false" aria-current="false" data-option-index="0" role="option">...</li>`
- run with the ember-a11y plugin on didRender

**Actual**

Error "aria-valid-attr" is thrown

**Exp

[2017-04-07 02:13] goyalvarun601 opened #76 "Module not found"
I get the module not found error when I try to import the module in my integration tests.
It works fine in the dev environment, I can see the violations in the browser.
Here are the versions that I am using:
ember: 1.13.5
ember-cli: 1.13.15
node: 4.4.7
npm: 2.14.10

Any suggestions on what may be wrong here?

[2017-04-07 14:48] AdrienNguyenWorldline opened #77 "ember-a11y-testing make a few things scroll at the bottom of the page."
If I leave the plugin active, when I click on some actions, I get no error in console at all, nor stiped elements, but the page scrolls at the bottom.

If I just add `turnAuditOff: true,` then this scrolling bugs goes away

[2017-04-09 00:13] trentmwillis commented on #76
Can you post the exact error and stack trace you are encountering? Otherwise we have no idea which module is not being found and the potential reason for it not loading.

Also, a reproduction either via ember-twiddle or a github repo would be helpful if you have the time to put them together.

[2017-04-09 00:15] trentmwillis commented on #77
Can you provide a reproduction either via ember-twiddle or a github repo? This addon doesn't do anything directly related to scrolling.

[2017-04-09 00:18] trentmwillis commented on #75
As noted in [the readme](https://github.com/ember-a11y/ember-a11y-testing#ember-a11y-testing), this addon is primarily a wrapper around [axe-core](https://github.com/dequelabs/axe-core) so any configuration that is possible there is also possible here.

In your case, it looks like there is an open issue for this on that end: https://github.com/dequelabs/axe-core/issues/270.

[2017-04-09 00:18] #75 closed

[2017-04-09 23:27] goyalvarun601 commented on #76
Died on test #1     at TestLoader.moduleLoadFailure (http://localhost:7357/assets/test-support.js:6001:11)
    at TestLoader.require (http://localhost:7357/assets/test-loader.js:62:14)
    at http://localhost:7357/assets/test-support.js:7852:22
    at Array.forEach (native)
    at TestLoader._loadSplitModules [as loadModules] (http://localhost:7357/assets/test-support.js:7851:18)
    at Function.T

[2017-04-27 20:09] trentmwillis commented on #76
Sorry for the delaying in responding. If you're still experiencing the issue, what version of `ember-a11y-testing` is your application using? Is there a reproduction of the issue that you could share?

[2017-05-02 22:25] justwright commented on #77
I think this may be related to scrolling issues within axe-core

https://github.com/dequelabs/axe-core/pull/148

[2017-05-18 21:59] ctcpip commented on #77
Not sure if the exact same issue, but I observe this as well.  It is automatically scrolling to the last ember component on the page.

[2017-05-19 21:43] ctcpip opened #79 "upgrade to latest axe-core"
There are fixes to known issues in the new versions of axe-core.  Can we upgrade to the latest?  (2.2.1 at time of writing)

[2017-05-19 21:52] ctcpip commented on #79
[code]

[2017-05-20 01:38] trentmwillis commented on #79
I just published version `0.4.2` which relaxes the semver range for axe-core, so you should be able to pick up the latest!

[2017-05-20 01:38] #79 closed

[2017-05-31 14:40] ctcpip commented on #77
The axe-core issue mentioned above has been fixed & merged and does not resolve this issue.

Another situation that easily reproduces the issue (and it's even worse):  I am displaying a relative time - example: '3 seconds ago', '10 seconds ago', etc.  This value is updated every second, and every time it is updated, `ember-a11y-testing` scrolls to its position.  It even happens when the text doesn

[2017-05-31 14:49] ctcpip commented on #77
[code]

[2017-05-31 15:01] dylanb commented on #77
to fix this issue, you need to pass in the `noScroll` option to the `color-contrast` rule

[2017-05-31 16:00] ctcpip commented on #77
@dylanb Thanks for that tip!  Can confirm that it works.  It took me a while to figure out the right syntax... the `axe-core` docs were not very helpful.  Here it is:

[code]

[2017-05-31 16:01] ctcpip commented on #77
@trentmwillis I suggest this option be set by default within this addon if possible...  this made me pull my hair out, and I think others will have the same experience...  I don't think this scrolling is a desirable default behavior.  Thoughts?

[2017-06-01 01:19] trentmwillis commented on #77
Currently, we leave the defaults to `axe-core`, so if this is the default for that library I'd prefer not to change it.

That said, we can call it out in our documentation and definitely should make it easier for folks to figure out how to set options. Would you mind PR'ing some doc changes to help clarify areas you had trouble with?

[2017-06-01 04:36] dylanb commented on #77
@ctcpip we have to leave at least a bit of a challenge for the users ;-)

But srsly - if you have a suggestion for a doc change, please contribute...

[2017-06-08 19:41] ctcpip commented on #77
I could take a stab at something, but I'm not entirely clear on how the options should really be specified.  What I ended up with works, but it involved me stepping through the code while it was running, and scrutinizing the axe-core codebase...

[2017-06-21 23:51] majew7 commented on #2
Was the fix removed?

This bug fix (9505490a9), made understanding the offending element easier by improving the `A11yError` constructor function.  However, I see that e599bccbdc36940, named _"Remove old approach"_ from May 18, 2016, seems to have removed the improvement that this issue ticket was all about.

**Question)** What does "Remove old approach." mean?

Understanding the results is diffic

[2017-06-22 00:00] majew7 commented on #18
**FYI**
It appears that some of the improved logging fixes were removed in May 2016... from Issue https://github.com/ember-a11y/ember-a11y-testing/issues/2.

[2017-06-22 00:43] trentmwillis commented on #18
@majew7 during that time `ember-a11y-testing` underwent a major rewrite. There was previously another addon named [`ember-axe`](https://github.com/trentmwillis/ember-axe) which, similarly to `ember-a11y-testing`, provided automated accessibility testing but leveraged the much more robust [`axe-core`](https://github.com/dequelabs/axe-core) library.

Thus, since `axe-core` is much more full-featured

[2017-06-22 03:07] trentmwillis commented on #18
Just merged #78. Will release shortly, but this issue will remain open as there are a few other tasks still.

[2017-06-22 03:09] trentmwillis commented on #77
Since we now have an example in the readme of how to [set options for specific rules](https://github.com/ember-a11y/ember-a11y-testing#environment-options), I'm going to close this.

[2017-06-22 03:09] #77 closed

[2017-06-22 18:44] majew7 commented on #18
Thanks @trentmwillis, I appreciate the quick reply and merge.  I just did `npm install` and confirmed that I have the latest v0.4.3, but I'm still not seeing the improvement yet.  Here's what I found...

I observe that:
* Older _'Offending Markup (#)'_ string is in function `a11yAuditCallback()` called from method `runA11yAudit()`.  This low information log is still executing (See image).
* The ne

[2017-08-18 15:33] JoaoGFarias commented on #18
Same issue than @majew7

[2017-11-08 17:31] MelSumner opened #86 "Remove Bower"
- [ ] determine if it is possible to move bower deps to npm
- [ ] if so, change deps to npm & remove bower

[2017-11-08 17:51] MelSumner opened #87 "performance enhancement- requestIdleCallback?"
requestIdleCallback supports queuing a function to be called when the browser is idle. (https://developer.mozilla.org/en-US/docs/Web/API/Window/requestIdleCallback)

Could this be used to increase the performance of the ember-a11y-testing addon?

[2017-11-08 19:14] trentmwillis commented on #87
My two cents: This may be beneficial for the audit running within the application during development, but not for the testing environment.

For tests, we want it to be synchronous so that we are actually checking the DOM state that the user had intended to check. During development though, this seems more like a background task that doesn't necessarily need to block.

[2017-11-08 19:17] trentmwillis commented on #86
Definitely should be done. We only have ember and the shims as Bower deps, both of which can definitely be switched to their NPM counterparts.

[2017-11-15 20:55] MelSumner commented on #87
@trentmwillis what's a good way to separate testing vs development?

[2017-11-16 18:12] trentmwillis commented on #87
Well currently we have the per-component audit, that only runs in development (not in testing mode): https://github.com/ember-a11y/ember-a11y-testing/blob/ef5c2debbb81776a34b87f9227762bf880e5e86a/app/instance-initializers/axe-component.js#L187

And then in tests, we have the `a11yAudit` helper.

[2018-01-06 16:11] ondrejsevcik opened #90 "Cannot modify dependent keys for `violationClasses` on `component-name` after it has been destroyed"
Hi, first of all, thanks for this awesome addon, it makes my life much better :)

I've installed this addon in my app (Ember 2.16) and when I'm browsing through pages, I got a lot of these errors into the console.

[code]
I know what it says in general, but I'm more curious why is this happening. Is it because I'm navigating too fast? Or is it some other issue?

Thank you,
Ondrej

[2018-01-06 18:09] trentmwillis commented on #90
I'm not 100% positive, but I believe this is because we run the audit asynchronously each time Ember's render-cycle is complete. See this line: https://github.com/ember-a11y/ember-a11y-testing/blob/ef5c2debbb81776a34b87f9227762bf880e5e86a/app/instance-initializers/axe-component.js#L189

So, I think what is happening is that we schedule a check for the component when you navigate, but the component

[2018-01-08 07:03] ondrejsevcik commented on #90
Yeah, that's probably it. I've tried to put a debugger in there and it crashed accessing this property when `this.get('isDestroyed')` was true. So I guess there is missing check if the component is destroyed already.

[2018-01-08 12:47] Jagan1989 opened #91 "Unnecessary- Color Contrast violations on Disabled buttons."
For disabled variation of a button , we are getting the color contrast violation error while trying integration test using  a11yAudit() helper.
I think  it should not throw for disabled buttons. It is a false positive scenario as the buttons are disabled.

Result  Object:
description
:
"Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds"
help
:

[2018-01-08 17:26] trentmwillis commented on #90
Would you mind opening a PR to add the necessary check? It would be much appreciated!

[2018-01-09 09:01] ondrejsevcik opened #93 "a11yAudit helper doesn't respect default axe options"
Hi, I have disabled a few rules in my `config/environment.js` file, but they are still checked in my tests when using `a11yAudit()` helper.

I could load those default options in my test and pass them into the helper, but that doesn't sound right. I would expect that this helper respects my default config.

Or is there any specific reason why it doesn't?

Thanks,
Ondrej

EDIT:
I've prepared simple

[2018-02-13 21:52] Samsinite commented on #90
I'm running into this error as well, and this definitely looks like the problem. But, I wanted to pose the question about if this event even needs scheduled at all. `didRender` is already called after render, couldn't it just directly invoke `audit`?

[2018-02-16 00:15] Samsinite commented on #90
@trentmwillis I see an open PR is up: https://github.com/ember-a11y/ember-a11y-testing/pull/92. Would it be possible to get a patch release out for this?

[2018-02-16 17:27] Robdel12 commented on #90
Yeah, I'm trying to get travis happy (and upgrade the addon) in my branch. But right now I'm seeing test failures. Hopefully I can get it fixed up tonight.

[2018-02-20 20:08] Robdel12 commented on #90
This was closed with https://github.com/ember-a11y/ember-a11y-testing/commit/c8ee8d03386fba873c0773b04943e4626f62220a

I'll cut a release once CI passes :)

[2018-02-20 20:08] #90 closed

[2018-03-17 20:30] atrama opened #95 "Update to new async syntax"
Examples in the docs like

[code]
should be updated to:
[code]
...to follow the new async syntax. And maybe add a note how to use this addon for anyone still using the 2x branch. If this change is okay, I can create a PR with the changes

[2018-03-21 19:18] trentmwillis commented on #95
:+1: sounds good to me!

[2018-04-08 17:02] #86 closed

[2018-04-15 18:03] MelSumner opened #99 "simplify the publish process"
This addon is kind of a pain to publish right now. Is there a way we can make this easier? @trentmwillis any ideas?

[2018-04-20 17:39] Robdel12 commented on #93
Absolutely would :)

[2018-05-01 11:55] ondrejsevcik commented on #93
@Robdel12 I've submitted PR. When you have a moment, could you please review it? Many thanks 🙏🏽

[2018-05-01 13:32] Robdel12 commented on #93
Closed with #100, thanks @ondrejsevcik!

[2018-05-07 20:38] #93 closed

[2018-05-14 09:15] ondrejsevcik opened #101 "Release new version"
Hi, would it be possible to release new version including this merge #93 ? It would be very helpful.

Thank you

[2018-05-14 09:23] ondrejsevcik opened #102 "visitWithAudit helper"
Hi, it would be nice to have a helper where the `visit` and `a11yAudit` are combined into one so I don't forget to run audit.

[code]

Maybe there is a better name than `visitWithAudit`, but you got the idea ;)

[2018-05-17 17:50] EndangeredMassa commented on #18
You are seeing that because the test log output wasn't updated to the new format. I've updated this in a new PR: https://github.com/ember-a11y/ember-a11y-testing/issues/18

[2018-05-17 20:16] EndangeredMassa commented on #91
The spec (as well as The Melanie) agree!

https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html

[2018-07-18 23:24] drewlee opened #106 "Upgrading to axe-core v3"
There have been quite a number of features and bug fixes introduced into axe-core v3 ([https://github.com/dequelabs/axe-core/blob/develop/CHANGELOG.md](https://github.com/dequelabs/axe-core/blob/develop/CHANGELOG.md)). Are there any plans in the pipeline to update axe-core dependency to the latest release? Thanks!

[2018-08-03 18:23] drewlee commented on #106
Hey there, seeing as there hasn't been much of a response, I don't have issue with taking up ownership in bumping up the version of axe-core. After checking what the work effort looks like, I did run into an issue in the fact that axe.run can no longer be run concurrently (https://github.com/dequelabs/axe-core/issues/1041). Obviously a problem when each component kicks off an audit. Seeing if this

[2018-08-03 20:10] Robdel12 commented on #106
Awesome! Thank you for taking this on :D

[2018-09-13 14:28] ASH-Maan opened #107 "Uncaught Error: Could not find module `@ember/debug` imported from `appName/instance-initializers/axe-component`"
Installing ember-a11y-testing@0.5.2 on Ember app with ember-cli@2.12 stops page rendering and gives hard error: Uncaught Error: Could not find module `@ember/debug` imported from `appName/instance-initializers/axe-component`

Installing an older version such as 0.5.0 works fine.

[2018-09-14 18:31] ctcpip opened #108 "code is included in production builds"
Is it possible to exclude this code from being included when running `ember b --environment=production` ?

[2018-09-14 19:17] rwjblue commented on #108
Hmm, that should already be the default behavior...

[2018-09-14 20:03] ctcpip commented on #108
_"should"_ being the key word there :)

![screen shot 2018-09-14 at 3 03 13 pm](https://user-images.githubusercontent.com/15326526/45572609-58f19080-b82f-11e8-9df2-454d0e11849f.png)

[2018-09-14 20:15] rwjblue commented on #108
D'oh! Looks like we need [this kind of thing](https://github.com/ember-a11y/ember-a11y-testing/blob/750c2e316c4feed66b182ded3bdd6f1752246388/index.js#L54-L66) for `treeForAddon`...

[2018-09-14 20:20] ctcpip commented on #108
[code]

[2018-09-24 19:12] drewlee commented on #106
I've created a pull request: https://github.com/ember-a11y/ember-a11y-testing/pull/109.

[2018-10-02 03:58] drewlee commented on #106
Fixed by #109

[2018-10-02 03:58] #106 closed

[2018-10-10 04:47] kundankeshri commented on #77
I set "restoreScroll" : true and its working fine for me

[2018-10-16 07:19] #18 closed

[2018-10-16 07:19] #76 closed

[2018-10-18 10:30] Willibaur opened #111 "Move away from jQuery"
Thanks for this awesome addon.

Is there any plan to move away from `jquery` soon?. I've noticed that we heavily use it according to [Docs](https://github.com/ember-a11y/ember-a11y-testing#integration-and-unit-tests)

![image](https://user-images.githubusercontent.com/12820932/47148472-b6627c80-d2c8-11e8-90bb-30f939bdc439.png)

I have used `this.element` instead in my project and test audits work

[2018-10-18 15:38] Robdel12 commented on #111
Looks like the addon doesn't use any jQuery. It'd be awesome if you submitted a PR updating the docs :)

[2018-10-21 18:57] Willibaur commented on #111
Sure @Robdel12  #112 is in place for that change.

[2018-10-22 17:58] Robdel12 commented on #111
Closed with #112, thanks @Willibaur for the issue & contribution!

[2018-10-22 17:58] #111 closed

[2018-10-25 08:08] Willibaur opened #113 "axe.run arguments are invalid on development use"
Hi, thanks for this awesome addon.

I'm currently using `ember-a11-testing` **0.5.4**, everything works fine within test environment, but when I try to enable the audit within `development` mode I got this error :point_down:

![image](https://user-images.githubusercontent.com/12820932/47484842-a43a8e00-d834-11e8-97a0-79020757381c.png)

My current configuration is

[code]

This was working over a m

[2018-10-26 18:52] mdbiscan commented on #113
I'm also seeing this, in Ember 3.4.

[2018-10-28 16:32] kaelinralav commented on #107
I'm facing the same on Installing ember-a11y-testing@0.5.4 with ember-cli@2.12.3

Moving to v0.5.0 helped solve this in the testing environment. But in development, I got the following error, "ReferenceError: axe is not defined"

Any pointers are much appreciated!

[2018-10-28 23:09] rwjblue commented on #107
The files in the app directory cannot use embers es module imports (why do we have non-“export only” files in the app dir again?!?!), they either need to be moved to addon folder and re-exported or remove the module imports from `@ember/**`...

[2018-11-01 22:46] brandynbennett commented on #113
Happens for me on all versions of this addon after 0.5.2. I'm running Ember 3.4 as well.

[2018-11-05 05:01] #113 closed

[2019-04-02 05:42] EndangeredMassa opened #121 "Fails to Support Ember Octane?"
Using ember-a11y-testing on an Ember Octane app, I see a lot of:

[code]

It seems that this is a known issue of [axe-core #1041](https://github.com/dequelabs/axe-core/issues/1041). A workaround was implemented in https://github.com/ember-a11y/ember-a11y-testing/pull/110 but that doesn't appear to work in an Ember Octane app.

I don't know much about the details of the scheduler. @drewlee do you h

[2019-04-02 15:15] drewlee commented on #121
@EndangeredMassa I haven't looked into Ember Octane yet, so I don't have direct insight into what the  problem may be. I'm assuming the error is coming up from the visual component audit feature? The scheduler is just a simple queue mechanism that ensures axe.run is executed synchronously. Otherwise, asynchronous execution will result in the exception that you printed out above. What would be the

[2019-04-04 13:33] MelSumner opened #122 "Add renovate bot support"
Need to add renovate bot support to keep dependencies updated in a more automated fashion.

[2019-04-09 18:11] rwjblue commented on #121
@EndangeredMassa - I _think_ that the fix from #110 should still work in octane apps, but the integration (at the moment) is based on `Ember.Component`/`@ember/component` which isn't used (too much) in an octane app (you'd use `@glimmer/component` instead).  In order to help track down the specific error you hit, would you mind pushing up a repo that demonstrates the error?

[2019-04-23 19:15] drewlee opened #124 "a11yAudit fails to account for include/exclude context parameter"
In addition to a query selector or HTML DOM node, the axe context argument can also include an "include/exclude" pojo. The a11yAudit helper fails to account for this argument format and assumes that the object is the options argument.

For example, the following invocation will execute on the entire document instead of the assigned scope, and will fail to apply the axe configurations set in enviro

[2019-04-23 19:21] drewlee commented on #124
Source of the issue is found on https://github.com/ember-a11y/ember-a11y-testing/blob/256d03edbc03b15909350013022944076bb3f93a/addon-test-support/audit.js#L60. Needs a bit more thorough checking in addition to the pojo check.

[2019-05-08 06:31] Turbo87 commented on #122
@MelSumner I can set up dependabot if you need help with it

[2019-05-11 03:35] jackson-dean opened #126 "Uncaught Error: Could not find module `@babel/runtime/helpers/esm/classCallCheck`"
Getting this error immediately after installing the addon

[2019-05-14 14:42] MelSumner opened #127 "remove use of Ember.Logger"
We need to remove the use of Ember.Logger:

https://emberjs.github.io/rfcs/0297-deprecate-ember-logger.html
https://deprecations.emberjs.com/v3.x#toc_ember-console-deprecate-logger
Using Ember.Logger will emit warnings/deprecations since Ember 3.2.

[2019-05-20 17:37] jrock2004 opened #128 "SelectorData Error in 3.4"
Getting a bunch of `Expect axe._selectorData to be set up` in the console. How can I tell why I am getting these? I get this when running ember -s and browing the first page I landed on.

[code]

Did I miss something else I need to configure beyond installation to get this to work

[2019-05-31 18:17] bahdvp commented on #128
I just experienced the same issue. Did you ever resolve this?

[2019-05-31 19:52] jrock2004 commented on #128
No, I stopped playing around for now

[2019-07-05 05:42] Techn1x opened #129 "Use in all tests by default"
I've been testing out this addon and it has been useful so far.

My only concern is that I need to add `await a11yAudit()` to every single test, which becomes a bit tedious (and also easy to miss tests by accident). I understand this was done to fix valid concerns with autorun https://github.com/ember-a11y/ember-a11y-testing/issues/63

I was hoping to be able to enable the audit for each test in a

[2019-08-07 21:08] drewlee commented on #128
@jrock2004 @bahdvp Are you still encountering this issue? If so, please provide the version of ember-a11y-testing and axe-core that your application resolves to, and steps or repo where the issue can be reliably reproduced. I'm not able to reproduce when setting up a new Ember v3.4 project.

[2019-08-07 21:27] drewlee commented on #121
@EndangeredMassa is this concern still valid? I've played around with a bunch of different versions of Ember w/Octane features and haven't been able to reproduce, at least not when setting up a new app. If this is still an issue, we'll need a reliable way to reproduce, otherwise I recommend closing the issue.

[2019-08-07 21:35] drewlee commented on #129
@Techn1x we do this sort of thing in a couple of places. I don't think afterEach is setup to handle async, I would try:

[code]

[2019-08-08 02:38] #121 closed

[2019-08-09 05:20] Techn1x commented on #129
Thanks! Yeah this works great
[code]

[2019-08-09 05:20] #129 closed

[2019-08-20 22:03] drewlee commented on #128
Based on reports, this issues seems to be localized to a very small set of users and we haven't received any means of reproducing it consistently. Will likely close the issue in a day or so due to lack of responses.

[2019-08-22 00:06] drewlee commented on #107
@rwjblue, looks like this may have been intentional as it's not possible to import the consuming app's config from the addon directory. However, I've found a workaround and went ahead with moving the files over in [https://github.com/ember-a11y/ember-a11y-testing/pull/130](https://github.com/ember-a11y/ember-a11y-testing/pull/130). Let me know if this looks ok. Thanks!

[2019-08-27 15:38] #107 closed

[2019-09-03 17:02] #127 closed

[2019-09-03 17:04] drewlee commented on #127
Will publish a new release of the addon after addressing #124.

[2019-09-04 18:07] drewlee commented on #101
Release v0.5.2 included this fix.
https://github.com/ember-a11y/ember-a11y-testing/commit/750c2e316c4feed66b182ded3bdd6f1752246388

[2019-09-04 18:07] #101 closed

[2019-09-04 18:10] drewlee commented on #122
PR https://github.com/ember-a11y/ember-a11y-testing/pull/123 addresses this.

[2019-09-04 21:06] drewlee commented on #87
@MelSumner I think we should close this ticket out due to staleness. My 2 cents: somewhat averse to using this as it's still an experimental feature. This would also be tricky to integrate with tests due asynchronicity outside of the event loop. Could also conflict with the scheduler I setup to make axe-core work correctly with multiple component renders. requestIdleCallback seems to lend itself b

[2019-09-04 21:32] #87 closed

[2019-09-06 17:01] drewlee commented on #124
Fix included in PR https://github.com/ember-a11y/ember-a11y-testing/pull/132

[2019-09-09 19:13] #124 closed

[2019-09-09 23:11] #95 closed

[2019-09-27 04:50] drewlee commented on #108
I have a fix for this in PR #134

[2019-09-27 20:40] drewlee commented on #108
Fixed w/PR #134. Will publish a new release sometime before Monday.

[2019-09-27 20:40] #108 closed

[2019-10-10 22:52] drewlee commented on #126
Doesn't seem to be related to the addon. @jackson-dean, can you confirm if you're still seeing this error? If so, please provide guidance on how to reproduce.

[2019-10-14 21:49] jackson-dean commented on #126
@drewlee ahh, yes, i don't know what happened there, but it seemed to be working fine after re-installing everything. forgot to update this. but seems fine now.

[2019-10-14 23:54] drewlee commented on #126
Thanks for following up, @jackson-dean. Closing as cannot reproduce.

[2019-10-14 23:55] #126 closed

[2019-10-24 06:06] ygongdev opened #135 "Doesn't run on browser test run"
I'm using `await a11yAduit()` in an `acceptance` test. I noticed that the violations are only caught when running via the `cli`, but not via the `browser`.

Is this known?

[2019-10-25 06:54] ygongdev opened #136 "Auto scroll to the bottom"
I was testing adding `a11yAudit` to an addon I'm working and I noticed that when I launch my app via the browser, it always scrolls to the bottom. Wondering if this is an actual issue

[2019-11-20 12:21] mydea opened #139 "Development mode leads to unexpected scrolling on element focus"
I'm not 100% sure what is going on, but after installing this addon, if I don't disable the development mode, my application started to auto-scroll to elements that are focused.

This repo shows the issue:
https://github.com/mydea/ember-issue-reproductions/tree/ember-a11y-testing

If you run it, scroll down a bit, and open the dropdown, everything works as expected.

Now if you enable the audit in

[2019-11-21 23:05] drewlee commented on #139
This is something that Axe does to accurately run its `color-contrast` check. For background context, you can read https://github.com/dequelabs/axe-core/issues/147, https://github.com/dequelabs/axe-core/pull/148, and https://github.com/ember-a11y/ember-a11y-testing/issues/77.

To prevent auto scrolling, you can set the `color-contrast` check to `noScroll` option.
[code]
But be aware, doing so will

[2019-11-21 23:06] drewlee commented on #139
Closing since this is behavior coming from axe core and not anything that the ember-a11y-testing addon can directly control.

[2019-11-21 23:06] #139 closed

[2019-11-21 23:07] drewlee commented on #136
Duplicate of https://github.com/ember-a11y/ember-a11y-testing/issues/139 and https://github.com/ember-a11y/ember-a11y-testing/issues/77.

[2019-11-21 23:07] #136 closed

[2019-11-21 23:12] drewlee commented on #135
@ygongdev the only situation where I've encountered this is for CSS animation effects. It's due to race conditions and timing around when axe ends up running the audit, which trips up the color contrast check. Are your failures related to color contrast? If not, is there a way to reliably reproduce what you're encountering?

[2019-11-22 04:57] ygongdev commented on #135
Oh I see. Yeah my tests does contain a lot of animations. So that would explain why none of the browser tests are running?

[2019-11-25 19:03] drewlee commented on #135
That's a bit unusual if none of the tests are running in the browser. The animation effects would only result in a few inconsistencies between browser and CLI results. Again, hard to say without having a way to reliably reproduce.

[2019-11-26 09:16] mydea commented on #139
Ah, thanks. As pointed out in #77 , I think it would make sense to either set this as a default or at least call it out in the readme/docs - it was very unexpected to me, and not what I would expect of a "just install it and it works" solution.

[2020-02-18 11:03] NikkiAlgarCentrica opened #143 "Console error in browser: "Uncaught Axe is already running'"
I'm using ember-a11y-testing in my development environment and acceptance tests.

Within the browser, I am consistently getting this error:
**`Uncaught Axe is already running. Use 'await axe.run()' to wait for the previous run to finish before starting a new run.`**

Within the acceptance tests, they all appear to be passing, but they should not be passing as I intentionally put two h1 tags on a p

[2020-03-25 09:10] #143 closed

[2020-04-15 14:17] Gaurav0 opened #148 "Better error message / restrict audit to body of #ember-testing"
When running an integration test on a component that was not focusable, I receive this error message:

[code]

The error message points to the ember testing container and says to add a tabIndex, which can't be done because it is injected by ember-qunit. Either let's have the a11y audit given a document restricted to contents of #ember-testing or see if we can improve the error message.

[2020-04-26 19:21] Turbo87 commented on #143
@NikkiAlgarCentrica did you find a solution for this? I seem to be hitting the same issue 🤔

[2020-05-01 18:52] drewlee commented on #122
This was completed with PR #123.

[2020-05-01 18:52] #122 closed

[2020-05-01 18:53] drewlee commented on #135
Unable to reproduce and hasn't been validated by other reports.

[2020-05-01 18:53] #135 closed

[2020-05-01 19:00] drewlee commented on #148
@Gaurav0, a default `a11yAudit` run is already restricted to the fixture container (https://github.com/ember-a11y/ember-a11y-testing/blob/master/addon-test-support/audit.js#L66). I suspect this may be caused by some other underlying issue or a change on the axe-core side of things. Can you provide a set of steps or a repo to reliably reproduce, along with the axe-core version? Thanks!

[2020-05-19 01:00] madelio commented on #143
I'm running into this as well, what was the solution?

[2020-07-23 17:06] SYU15 opened #169 "Test to check for `main` landmark on page"
In my application, I've discovered that a test runs to ensure that only one `main` landmark exists, however, the tests do not error if the page is missing a `main` landmark. Unsure if it is a bug since [the rule is documented here](https://dequeuniversity.com/rules/axe/3.2/landmark-one-main) or if it is missing? Either way I think it might be a good idea to fix (if this is happening to not just me

[2020-07-28 18:35] SYU15 opened #172 "Test to ensure `selected` attribute exists on a select/option dropdown"
I think it may be a good idea to add this test. If the `selected` attribute is missing in the list of options, then users with screen readers (JAWS and NVDA specifically) cannot understand/hear which item is being chosen.

Example:
[code]

[2020-08-05 18:56] SYU15 commented on #172
Will explore `aria-selected` as a solution to gaps in screen reader technology.

[2020-08-11 14:59] MelSumner commented on #172
Note: we need to review HTML spec to see if the `selected` attribute maps to the `selected` property or the `defaultSelected` property.

Here's what should happen for a `<select>` element:

1. Using VoiceOver with Safari for Mac:
* on focus, it says the name of the selected option (if it's not blank) then the element's label.
* on navigating the option list, each option's name should be announced

[2020-08-11 14:59] MelSumner commented on #172
also + @rwjblue and @wycats since there was some question about what NVDA + Firefox does with a native select element.

[2020-08-12 02:47] drewlee commented on #172
@SYU15, this project doesn't actually handle the logic behind the specific rules/checks that carry out the a11y assessment. That is handled by [axe-core](https://github.com/dequelabs/axe-core/) and should be filed there. IMO, this sounds like an issue with the specific vendors (JAWS and NVDA), since they chose not to adhere to the HTML specification. The `selected` attribute is optional and is onl

[2020-08-12 17:40] MelSumner commented on #169
Can you  give us some more information so we can try to reproduce?

* How are you running the tests for your app?
* If you run `ember s` and view the app in the browser, is it missing the `<main>` element?
* if you're using Chrome, have you tried installing the aXe browser extension and running it on your page to see if it catches the error? (this can help us narrow down if it's the addon or axe-c

[2020-08-12 22:02] SYU15 commented on #169
Great point @MelSumner, let me run through that list of questions and respond to them.

[2020-08-20 15:54] rwjblue commented on #102
Going to close this one (sorry @ondrejsevcik), I think we should refocus and target some specific features to do this via the new (private for now) hooks added in emberjs/ember-test-helpers#878.

[2020-08-20 15:54] #102 closed

[2020-08-20 18:51] drewlee commented on #172
I'd like to close this issue out as it would need to be filed against [axe-core](https://github.com/dequelabs/axe-core).

[2020-08-20 18:51] #172 closed

[2020-08-20 18:53] drewlee commented on #99
Addressed in PR https://github.com/ember-a11y/ember-a11y-testing/pull/183.

[2020-08-20 22:37] #99 closed

[2020-08-20 23:42] scalvert opened #186 "[New API] Add `setupGlobalA11yHooks` helper"
# Summary

This issue proposes adding a new global setup helper: `setupGlobalA11yHooks`. This helper will allow you to, with a single call in your test-helper.js file (or wherever makes sense), wire up the `a11yAudit(If)` calls to specific `@ember/test-helpers` hooks using the new [`_registerHooks` API](https://github.com/emberjs/ember-test-helpers/pull/878).

# Motivation

In order to add accessi

[2020-08-21 23:13] scalvert opened #195 "Remove `window.a11yAudit` check"
This API was supporting older versions of the test infrastructure (`moduleFor*`). We should remove this.

[2020-08-21 23:14] scalvert opened #196 "Explore the use of promise-based API for `axe.run`"
The `axe.run` method has a promise-based variant. We should explore using this, while simultaneously exploring the use of native promise support.

[2020-08-21 23:19] scalvert opened #197 "Evaluate the use cases for `ember-get-config`"
We should evaluate under what circumstances we need to use `ember-get-config`. Ideally, users can just adapt the code to do what they want using primitives this addon exposes.

[2020-08-21 23:21] scalvert opened #198 "Consider changing rest args to `a11yAuditIf` to specific parameters"
There's no reason for us to have to accept rest args to `a11yAuditIf`. We should convert to the specific args that `axe.run` requires.

During this, we should seek to remove the `getLocation` API, which is unnecessary (we can just provide a URL param to the `a11yAuditIf` function instead.

[2020-08-24 18:01] rwjblue commented on #186
I'd prefer to make this just part of the `invocationStrategy` function. This would make the signature:

[code]

[2020-08-24 18:12] rwjblue commented on #197
I'd prefer to change this to an explicit `setAxeOptions` API instead. Folks can invoke that from their `tests/test-helper.js` and provide the default configuration that they want, or invoke it from a specific test to set custom override values. This would replace the `_setConfigName` method here:

https://github.com/ember-a11y/ember-a11y-testing/blob/cd1a8a66f4cbbe41f2a25566bbbc7bb0a01be77b/addon-

[2020-08-24 18:21] rwjblue commented on #195
This was done in #199

[2020-08-24 18:21] #195 closed

[2020-08-24 22:04] drewlee commented on #197
Do we want to remove the configurations that are set in `config/environment.js` entirely or just the dependence on `ember-get-config`? Unfortunately, most of those options are leveraged by the "visual audit" feature of the component. I agree that it makes sense to set up axe options on the test side of things, but then consumers would need to define these in two different places. I think the long

[2020-08-25 14:23] scalvert commented on #186
Sure, we could do that. This would allow people to just supply a custom invocation strategy when they wanted to exclude tests. Seems good.

[2020-08-25 14:23] scalvert commented on #186
Current spike: https://github.com/scalvert/ember-a11y-testing/tree/setup-global-a11y-hooks

[2020-08-25 15:57] scalvert commented on #196
@drewlee totally understandable. It's nice to see that lib providing more modern APIs to use. I think it'd be nice to leverage that internal improvement vs. using the callback variant. We do something similar in `@ember/test-waiters`, where we handle things that are promise-like (https://github.com/emberjs/ember-test-waiters/blob/master/addon/%40ember/test-waiters/wait-for-promise.ts#L29)

[2020-08-25 17:00] drewlee commented on #186
This is really helpful @scalvert. Thank you!

[2020-08-30 00:48] SYU15 commented on #172
Sounds good @drewlee @MelSumner thanks for the explanation. In the meantime, we will add both `selected` and `aria-selected` to our option elements to ensure a range of screen readers will be able to read out the selected option.

[2020-09-01 16:48] scalvert opened #207 "`ember-a11y-testing` updates and simplification"
This addon has largely been left untouched since its initial creation. There have been a number of default Ember blueprint updates (outside of this repo), which were hard to pull in due to it being so out-of-date.

In addition to this, the `@ember/test-helpers` addon, which is one of the underpinnings of Ember's testing system, had evolved to include some [new and useful APIs](https://github.com/e

[2020-09-02 18:57] fivetanley opened #208 "simplify conditional audit running even further"
## Introduction

In [#203](https://github.com/ember-a11y/ember-a11y-testing/pull/203), the documentation was updated to recommend using the following code:

[code]

It's great to have new primitives, but this code is really verbose and it can be easy to wrap `await a11yAudit()` in an if statement from time to time, leading to flaky or inconsistent builds, which might encourage people to remove or

[2020-09-04 16:26] scalvert commented on #208
Hey @fivetanley, thanks for the detailed write-up! I think it's useful to step back and discuss the direction we're trying to take this addon. Hopefully that will help mitigate some of your concerns WRT the current APIs.

I wrote up [an issue](https://github.com/ember-a11y/ember-a11y-testing/issues/207) that discusses the direction we're trying to move in. In addition, there's a [second issue that

[2020-09-04 16:34] rwjblue commented on #208
I think @scalvert addressed most/all of your original points, but I did want to call out one specific thing here:

The thing is, we are **absolutely** trying to encourage folks to remove the explicit `a11yAudit()` invocations in their tests! Specifically by making them automatic, there is no longer a **need** to manually call it. This does lets us know **for sure** that folks aren't forgetting to

[2020-09-04 18:58] fivetanley commented on #208
Thanks for the extremely detailed responses @rwjblue @scalvert.  I think I'm in agreement in all points. Thanks for walking me through the vision, I am excited every time I interact with any of the Ember projects; it's good to be in an OSS community collaborating and making a lot of progress on bringing the community and their users into a more accessible world. :)

After reading both of these res

[2020-09-04 19:31] rwjblue commented on #208
@fivetanley - The current design is that the app would supply a function that is effectively "should audit" when they call `setupGlobalA11yHooks` in their `tests/test-helpers.js`. That function needs to return true or false, and decides if auditing should occur.

So to run on roughly 10% of tests (randomly if you use a QUnit seed, but prints info on deterministically re-running), you would do some

[2020-09-04 20:04] fivetanley commented on #208
That's great. Thanks!

[2020-09-04 20:04] #208 closed

[2020-09-04 20:50] scalvert commented on #198
Fixed in #199.

[2020-09-04 20:50] #198 closed

[2020-09-04 20:52] scalvert commented on #197
We removed this functionality in #205.

[2020-09-04 20:52] #197 closed

[2020-09-04 20:52] #186 closed

[2020-09-09 17:21] scalvert commented on #169
@SYU15 were you ever able to reproduce this?

[2020-09-09 19:48] SYU15 commented on #169
@scalvert @MelSumner I just tried reproducing this and I was not able to, so perhaps this was user error on my part. Sorry about that.

[2020-09-10 00:39] scalvert commented on #169
Thanks for checking, @SYU15. No worries - just wanted to make sure nothing was broken.

[2020-09-23 19:10] #169 closed

[2020-09-23 19:11] scalvert commented on #207
All of the above have been merged, so closing this.

[2020-09-23 19:11] #207 closed

[2020-10-21 00:08] scalvert commented on #148
Since we don't have a reproduction, I'm going to close this for now. @Gaurav0, feel free to reopen with a reproduction if this issue is still persisting!

[2020-10-21 00:08] #148 closed

[2020-10-21 16:42] scalvert opened #226 "4.0.0 Release"
Outstanding changes needed for 4.0.0 release:

- [x] Upgrade `@ember/test-helpers` to `^2.0.0` (#227)
- [x] Upgrade `ember-qunit` to `^5.0.0` (will be published once https://github.com/simplabs/qunit-dom/pull/816 is merged/released)
- [x] Add contributors to package.json (#225)

[2020-11-18 18:11] scalvert commented on #226
We released with `ember-qunit@5.0.0-beta.4` since it's a devDependency.

[2020-11-18 18:11] #226 closed

[2021-02-09 06:38] asppsa commented on #148
I am seeing this issue in some code I am working on as well.  I haven't had time yet to produce a repro in some stand-alone code, but I have found that configuring the hooks like so seems to fix the issue:

[code]

That is, I am changing the context from `#ember-testing-container` to `#ember-testing-container > *` - all elements inside the container, rather than the container itself.

https://gith

[2021-03-12 10:31] frykten opened #245 "Basic build failures"
Hello!

I am doing very basic and naive testing to see if this addon could be useful for our app.
When starting a new app with the very useful and basic [ember-new-output](https://github.com/ember-cli/ember-new-output) it sometimes seems like there are discrepancies with the stack... (or at least the doc is not entirely true/filled).

More info (all tests are made with this addon current version,

[2021-03-12 10:48] gossi opened #246 "Universal test helpers for WAI aria widgets"
Over the weekend I did wrote tests for a select component. I extracted the tests for it in a couple of functions as they work on the a11y tree on top of the dom. The idea: "You can copy paste them" from one project to another.

I wrote a little more about this idea and explaining with my example: https://gist.github.com/gossi/9b4e4fcdb4798f3fc3915ab2dc9a1b9c

Of course this was just a first shot a

[2021-03-12 15:11] rwjblue commented on #245
Hmm, that first error seems unrelated to this addon (looks like a bug that was reported a while back on ember-data that has to do with preserved cache after updating/changing ember-data versions).

RE: the second error, can you share the full stack trace (or even just the error message)? It's quite difficult to reason about with just that one line number...

[2021-03-15 09:15] frykten commented on #245
Sorry, I messed up the Markdown...
The error log, followed by the beginning of the stacktrace (should be easier to ready with both) is
[code]

[2021-03-16 15:12] rwjblue commented on #245
Hmm, maybe you are not testing with `@ember/test-helpers@2.0.0` or higher?

[2021-03-16 16:53] frykten commented on #245
Nono: tried with `@ember/test-helpers@2.2.3`, `@ember/test-helpers@2.0.0` and we get this error. When removing the import, we get the righteous "need @ember/test-helpers@2.0.0 or higher"-kinda message.
Same with a new light project or an old heavy one (like the one we have at work).

I'll try to find time this week to debug a tad if other stacks work/don't.

[2021-03-16 19:07] rwjblue commented on #245
Ya, seems like that might be necessary. `@ember/test-helpers` definitely has that function exported from its entry point from 2.0.0 and higher.

https://github.com/emberjs/ember-test-helpers/blob/v2.0.0/addon-test-support/@ember/test-helpers/index.ts#L26

Maybe there are multiple versions of `@ember/test-helpers` installed and the older version is clobbering the newer version?

[2021-04-06 20:03] drewlee opened #248 "Axe-core double inclusion via Webpack"
Host apps are including `axe-core` duplicate times, once via the standard `app.import` method set up by the addon, and the second time via Webpack, which is presumably from `ember-auto-import`. Both appear in the test-support.js bundle. There is also associated log output when building the host app:

[code]

Standard Inclusion
<img width="1862" alt="Screen Shot 2021-04-06 at 12 51 15 PM" src="http

[2021-04-13 20:05] MelSumner commented on #246
This is really great! I would love to see this added to Ember Component Patterns - how to test could be its own sub-section per component. Let's also get the rest of the A11y WG to weigh in on the idea.

[2021-04-13 21:26] MelSumner opened #252 "Update demo app"
The demo app in the `dummy` folder is outdated and needs updating.

(this is a placeholder issue for me, or others, to update with the specific issues in the demo app).

[2021-04-14 08:10] KamiKillertO commented on #252
I'll look into it 👍

[2021-04-16 01:32] #248 closed

[2021-04-16 23:08] drewlee commented on #252
This is something I started working on and off on a few weeks ago and ended up as PR #255.

[2021-04-19 15:25] scalvert commented on #252
Updated as part of #255

[2021-04-19 17:27] MelSumner commented on #252
Re-opening the issue as we still need the demo app to be there, it just needs updating.

[2021-04-19 18:58] scalvert commented on #252
I'm a bit confused. Can you be more specific when you say 'needs updating'? #255 removed some things, but also updated the dummy app to modern constructs. I also assume when you say demo, you mean dummy, is that correct?

[2021-04-22 17:51] scalvert commented on #252
Ping. Just trying to understand this one more. @MelSumner can you help me understand this?

[2021-04-22 18:05] scalvert commented on #245
Ya a `yarn why @ember/test-helpers` would help here.

[2021-04-26 17:58] #196 closed

[2021-05-10 22:38] drewlee opened #260 "Unnecessary styles injected into host app's index.html from `ember-a11y-testing`"
Unnecessary CSS styles are being injected into header content by the `ember-a11y-testing` addon. The styles are an artifact of the addon's deprecated visual component audit feature and should be removed.

[code]

[2021-05-11 21:21] drewlee commented on #260
Fixed via PR #261

[2021-05-11 21:21] #260 closed

[2021-05-17 15:24] ctcpip commented on #245
[code]

[2021-05-18 00:07] scalvert commented on #245
I think you probably don't want to mix and match these. You'll want to be on ember-qunit@~5.x and @ember/test-helpers@~2.x. You can follow [this guide to migrate](https://github.com/emberjs/ember-qunit/blob/master/docs/migration.md).

[2021-05-18 01:14] ctcpip commented on #245
well it's impossible to mix and match them.  the build fails.  this project needs to update the requirements to mention that qunit 5.x is required, which currently it says nothing about.  furthermore, the changelog should mention this is a breaking change for v4. I may submit a PR for that, but I can't right now.

[2021-05-20 12:55] #252 closed

[2021-05-28 21:05] drewlee opened #266 "Provide conditional usage for `setupMiddlewareReporter`"
When enabling ember-a11y-testing's [middleware reporter](https://github.com/ember-a11y/ember-a11y-testing#test-middleware), tests that normally fail from `a11yAudit` violations no longer do so. This technically makes sense, as the [default reporter is overridden](https://github.com/ember-a11y/ember-a11y-testing/blob/master/addon-test-support/setup-middleware-reporter.ts#L83) so that Errors are not

[2021-05-28 22:37] drewlee commented on #266
I've also played around with just using an environmental variable and using a check as follows, although I'm not sure if this typical convention:
[code]
Not opposed to this approach, but would be helpful to document.

[2021-05-28 22:54] scalvert commented on #266
This seems like a good addition. It won't require apps to manage this themselves by setting custom conditionals for tests.

We could actually support _both_ a qp _and_ an env var, but for both our conditionals. We could extend `enableA11yAudit` to be triggered from both, which would enable users to set these values either from CI (gh actions, travis.yml, etc) or via a qp.

I'd opt to standardize t

[2021-05-29 06:49] drewlee commented on #266
Yeah, I like the idea of providing both options (query parameter and env variable) and agree with the naming standardization. The only tricky part would be figuring out how to pass off the environmental variables from the node process and make them accessible in the addon's browser code.

[2021-06-14 10:17] vishnubalajikm opened #269 "Build getting failed due to the peerDependencies of @ember/test-helpers: `^2.0.0`;"
Am using the latest version, which is enforcing the peer dependency of @ember/test-helpers >= 2.0.0. After installing the @ember/test-helpers(v2.2.6), my build is getting an error.

Ember - v3.16.2
Node - v12.18.0

[code]

[2021-06-18 22:56] drewlee commented on #266
Addressed with PR #267.

[2021-06-18 22:56] #266 closed

[2021-09-19 16:28] NullVoxPopuli commented on #269
I'm running in to this as well.
[code]

For now, I'll have to remove a11y-testing and come back to it

[2021-09-19 16:33] NullVoxPopuli commented on #269
seems removing it doesn't even fix the dep lint. Guess I'll disable the dep lint instead....

[2021-11-04 11:40] mydea opened #316 "Re-exporting types triggers warning"
In an app using Embroider, I get this build warning:

[code]

I guess it is because it re-exports TS interfaces:

[code]

Would it make sense to remove these re-exports, or alternatively just define (and export) these interfaces directly in the `index.ts` file?

[2021-12-13 22:04] #316 closed

[2021-12-13 23:18] scalvert opened #338 "Upgrade blueprint to latest for 5.0 release."
Before we release 5.0 we should upgrade the blueprint of this repo to the latest.

[2021-12-22 23:29] SergeAstapov commented on #269
@NullVoxPopuli @vishnubalajikm can you give this another try? currently this package has `"@ember/test-waiters": "^2.4.3 || ^3.0.0"` in `package.json`

[2021-12-22 23:48] NullVoxPopuli commented on #269
I've been removing dependency lint whenever I can :see_no_evil:

[2021-12-28 19:10] SergeAstapov commented on #338
@scalvert can we close this one as v5 got released?

[2021-12-28 19:19] scalvert commented on #338
Yep!

[2021-12-28 19:19] #338 closed

[2022-01-20 14:05] ZoeBijl commented on #135
We have a similar issue. Will be investigating further.

In short: some events are triggered on CLI but not in the local environment. The few places we saw this was with things like functions being called twice (once by the `render` helper and once by our own invocation). This was with a `mouseleave` and `mouseenter` event.

The test that most recently failed on CLI but passed locally:

[code]

Lo

[2022-02-14 14:45] NullVoxPopuli commented on #135
I'd like to re-open this issue.

In debugging the a11y testing with popovers with @ZoeBijl, we found that:
 - on MacOS `11.6.3`
   -  Chrome: `98.0.4758.80`:
     - `/tests` pass (via `ember s`)
     - headless pass (via `ember test`) (and with CI=true)
test)
  - Firefox: `97.0`
    - `/tests` pass (via `ember s`)
    - headless passes (`ember test`) (and with CI=true)

  - on Linux, Ubuntu Deskto

[2022-02-21 11:38] ZoeBijl commented on #135
@NullVoxPopuli and I have looked into this further. NVP found that this might be related to using an older version of ember (we’re on 3.x). Will post updates as the this develops.

[2022-02-21 11:39] NullVoxPopuli commented on #135
I did? 😅

[2022-02-22 12:07] ZoeBijl commented on #135
Am I misremembering events now 🙃?I thought that this might be related to the older ember version re compilation of things? Or are those unrelated/did we not yet confirm that?

[2022-02-22 12:09] NullVoxPopuli commented on #135
Yeah, that's a different issue